# dependencies
node_modules

# build output
dist
playground-dist
coverage
*.tsbuildinfo

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# env
.env
.env.*
!.env.example
